/*
COLORS:
Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
Green and blue uiGradient #c2e59c and #64b3f4
Mantle UiGradient rgba(36,198,220, 0.7) and rgba(81,74,157,0.7)
*/

$color-green: #c2e59c;
$color-purple: #514a9d;
$color-turquoise: #24c6dc;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;